torch==2.0.1+cpu
torchvision==0.15.2+cpu
torchaudio==2.0.2+cpu
-f [https://download.pytorch.org/whl/torch_stable.html](https://download.pytorch.org/whl/torch_stable.html)

opencv-python
numpy
pandas
tqdm
streamlit
